<div class="col-md-6 col-md-push-3">
  <h2>
    Login form
  </h2>
  <form (ngSubmit)="onSubmit(form)" [formGroup]="form" class="form-group">

    <div class="alert alert-danger" [hidden]="!error">
      Wrong credentionals
    </div>


    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        type="text"
        id="username"
        #username
        formControlName="username"
      >
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        id="password"
        #password
        formControlName="password"
      >
    </div>
    <p>
      {{ form.status}}
    </p>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!form.valid"
    >Submit
    </button>
  </form>
</div>
