<div *ngIf="toEditUser">
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit ressource : {{toEditUser.name}}
    </div>
    <div class="panel-body">
      <input class="form-control" type="text" value="{{toEditUser.name}}" [(ngModel)]="NewUserData">
<br>
      <button (click)="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
<br>
<ul class="list-group">
  <li *ngFor="let user of  users  "
      [class]="'list-group-item'"
      (click)="editUser(user)"
  >
    <a routerLink="/ressources/{{user.id}}">
      {{user.name}}
    </a>
  </li>
</ul>
