<!--panel to edit-->
<div *ngIf="showTheForm" [hidden]="!showTheForm" class="">
  <div class="panel panel-default">
    <div class="panel-heading">
      Edit user: {{toEditUser.name}}
    </div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onsubmit()" novalidate>


        <!--<input id="name" name="name" class="form-control"-->
               <!--pattern="mmmm"-->
               <!--[(ngModel)]="toEditUser.name" #name="ngModel">-->

        <!--<div *ngIf="name.invalid"-->
             <!--class="alert alert-danger">{{name.errors | json}}-->
        <!--</div>-->


        <input type="text"
        value="{{toEditUser.name}}" name="name"
        [(ngModel)]="toEditUser.name"
        #xxx="ngModel" pattern="aloui">

        <p *ngIf="xxx.invalid">valid</p>

        <br>
        <input type="text"
               value="{{toEditUser.id}}"
               name="id"
               [(ngModel)]="toEditUser.id"
               required
               #username="ngModel">
        <br>
        <input type="text"
               value="{{toEditUser.username}}"
               name="username"
               [(ngModel)]="toEditUser.username"
               pattern="mmmm"
               required
               #username>
        <p *ngIf="!username.pattern">
          Wrong pattern
        </p>
        <br>
        <input type="text"
               value="{{toEditUser.website}}"
               name="website"
               [(ngModel)]="toEditUser.website"

               required
               #address="ngModel">
        <br>
        <input type="text"
               name="phone"
               value="{{toEditUser.phone}}"
               [(ngModel)]="toEditUser.phone"

               required
               #zipcode="ngModel">

        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
<!--end panel to edit-->


<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="panel-heading">List of ressouces</div>
  <!-- Table -->
  <table class="table">
    <thead>
    <th>Name</th>
    <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>
        <a (click)="edit(user)"><span>Edit</span></a>
        <a routerLink="/ressources/view/{{user.id}}">| <span>View</span></a>
        <a>| <span (click)="delete(user)">Delete</span></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

